html, body {
  margin: 0 auto;
  display: block;
  padding: 0;
}
canvas {
  margin: 0 auto;
  display: block;
  padding: 0;
}

/*
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #66000000;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  transform: translateY(-0.075em);
}
*/